body{
    align-items: center;
   font-size: 0.3rem;
  margin:auto;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    font-size: 15px;
}
h2{
    font-size: 22px;
    text-align: center;
}

h3{
    font-size: 18px;

}
.btn{
    display:block;
    background-color:#3382F6;
    color:#F9FAF8;
    border:1px solid #F9FAF8;
    border-radius: 10px;

}
#hero{
    background-color:#1F2937;
    color:#F9FAF8;
    display: flex;
    padding: 12px;
    font-size: 15px;
    
}

#footer{
    background-color:#1F2937;
    color:#F9FAF8;
    display: flex;
    padding: 12px;
    font-size: 15px;
    
}

#text{
text-align: center;
position: relative;
left: 200px;
}
.container{
    display: flex;
    padding: 20px;
    width: 300px;
    justify-content: space-between;
    align-items:center; 
    gap: 8px;
}
.signcon{
    display:flex;
    padding: 50px;
    margin-bottom: 50px;
}
.heading{
    display: block;
    padding-right: 50px;
    
}
h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}
#caption{
    display:flex;
    
}
#quote{
    
    background-color: #E5E7EB;
   
    color:#1F2937;
height:350px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    text-align: center;
    position:relative;
    bottom:-150px
}
#signup{
    background-color:#3382F6 ;
    color:#F9FAF8;
    align-items:center;
    border-radius: 10px;
    width: 500px;
    align-self: center;
   margin: auto;
}
#pic{
    padding:5px;
}
#nav{
    position: relative;
    top:-70px;
    right:-800px;

}
a{
    text-decoration: none;
    color:gray;
    font-size: 18px;
}
.pic{
    border: #3382F6 solid 3px;
border-radius: 10px;
width:200px;
}
#image{
 position: relative;
 top:auto;
 bottom: auto;
 padding-top: 25px;
}